.nav{
    /*grid-area: n;*/
    background-color: burlywood;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;

}

.item a {
    color: white;
    text-decoration: none;
    margin-right: 40px;
}

.item a.activeLink{
    color: gold;
}